.mdb-container {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing;
    padding-right: $spacing;

    &--fixed {
        width: $breakpoint-md;
    }

    &--max-width {
        &-xs {
            max-width: $breakpoint-xs;
        }

        &-sm {
            max-width: $breakpoint-sm;
        }

        &-md {
            max-width: $breakpoint-md;
        }

        &-lg {
            max-width: $breakpoint-lg;
        }

        &-xl {
            max-width: $breakpoint-xl;
        }
    }
}
