
.mdb-app {
    height: 100%;

    &__header {
        height: 4rem;
        background-color: $palette-primary;
        color: white;
        display: flex;
        align-items: center;
    }

    &__content {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        padding: 2rem 0;
    }
}
