
$palette-primary: #0d253f;
$palette-secondary: #01b4e4;
$palette-tertiary: #90cea1;

$spacing: 1rem;

$breakpoint-xs: 0 !default;
$breakpoint-sm: 600px !default;
$breakpoint-md: 960px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1920px !default;
